.half {
    margin-inline: auto;
    margin-bottom: 2rem;
    width: 60%;
    padding: 0 1em;
  }
  /* Acordeon styles */
  .tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #333;
    overflow: hidden;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #00ed95;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }
  .blue label {
    background: #2980b9;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: transparent;
    color: #333;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }
  .blue .tab-content {
    background: #3498db;
  }
  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  input:checked ~ .tab-content {
    max-height: 50rem;
  }
  /* Icon */
  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  input[type=checkbox] + label::after {
    content: "+";
  }
  input[type=radio] + label::after {
    content: "\25BC";
  }
  input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }
  
  /* Otros estilos */
  .card--acordeon {
    padding: 1em;
    color: #333;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);
    box-shadow: 0 0 10px rgba(0,0,0,.25);
  }
  .card--acordeon h2:first-child,
  .card--acordeon p:first-child {
    margin-top: 0;
  }

  /* media queries */

  @media (max-width: 700px) {
    .half {
      width: 100%;
    }

    label {
      padding: 1rem;
      line-height: 1.5;
      font-size: 15px;
    }
  }