@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('./fonts/Poppins-Regular.ttf');
    src: url('./fonts/Poppins-Light.ttf');
    src: url('./fonts/Poppins-Bold.ttf');
}

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid limegreen; */
}

h1,h2,h3,h4 {
    font-family: 'Oswald', sans-serif;
}

p, span , small , a {
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.img--back {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("./img/img_back.png");
}

.container {
    background-color: #1c2833;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
}

h1, h2 {
    color: white;
}

.header--login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.header--login > img {
    height: 80px;
    width: 80px;
}

.header--login > p {
    color: white;
    text-transform: uppercase;
    font-size: 30x;
    font-weight: bold;
    margin-right: 10px;
}

a {
    color: white;
    margin: 5px 0;
}

.container--registro {
    max-width: 900px;
}

.form {
    padding: 10px 20px;
    color: white;
}

.form--registro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

:is(.form h1, h1) {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 1rem;
    margin-right: 10px;
}

.formFlex {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-field input {
    border: solid 2px white;
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}

small {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: black;
    background-color: #dc3545;
    border-radius: 5px;
}

.small {
    margin: 5px 0;
    text-align: center;
}

:is(.password, .btn) {
    margin-top: 1rem;
}

p {
    font-size: 18px;
}

/* button */
.btn {
    color: white;
    border: none;
    background-color: transparent;
    padding: 1rem;
    font-size: 18px;
    font-weight: bold;
    margin-block: 1rem;
    margin-inline: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease-in-out all;
    display: flex;
    align-items: right;
}

.btn > span {
    margin-right: 5px;
}

.form-field--button {
    grid-column: 3 / 3;
    border: 2px solid orange;
}

.btn:hover {
    transition: 0.25s ease-in-out all;
    /* box-shadow: 5px 4px 11px 1px rgba(0,0,0,0.51); */
    color: black;
    background-color: white;
}

.btn:focus {
    outline: none;
}

/* GENERO */

.form-field--genero {
    margin-top: 11px;
    display: flex;
}

/* leyenda e iconos registro */

.leyenda {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.leyenda > span {
    margin-right: 10px;
}

/* Spacer */

.spacer {
    margin: 1.500rem 0;
    background-color: black;
    opacity: 0.2;
}

/* media queries */

@media (min-width: 750px) {

    .spacer {
        display: none;
    }
}

@media (max-width: 750px) {

    body {
        padding: 2rem 0;
    }

    .form--registro {
        width: 450px;
        display: block;
        padding: 1rem;
    }
}

@media (max-width: 520px) {

    .form--registro {
        width: 300px;
    }
}

.oculto {
    display: none;
}

span {
    color: #00ed95;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('imagenes/error.jpg');
}

label{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.space {
    color: white;
}